DATABASE_URL="postgresql://kounouz:kounouz@localhost:5433/kounouz_alafiya?schema=public"
PORT=3000

JWT_ACCESS_SECRET="change-me-access-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

PUBLIC_APP_URL="http://localhost:5173"
